
petJournal/.idea/misc.xml
petJournal/.idea/misc.xml
petJournal/.idea/compiler.xml
petJournal/.idea/.name
petJournal/.idea/compiler.xml
petJournal/.idea/discord.xml
petJournal/.idea/gradle.xml
petJournal/.idea/inspectionProfiles/Project_Default.xml
petJournal/.idea/misc.xml
petJournal/.idea/vcs.xml
petJournal/.idea/misc.xml
petJournal/.idea/gradle.xml
.idea/modules/app/PetJournal.app.iml
.idea/modules.xml
.idea/petjournal.android.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
/.idea
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
