*.iml
.gradle
/local.properties
/.idea
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
petJournal/.idea/misc.xml
petJournal/.idea/compiler.xml
petJournal/.idea/misc.xml
petJournal/.idea/misc.xml
petJournal/.idea/compiler.xml
petJournal/.idea/.name
petJournal/.idea/compiler.xml
petJournal/.idea/discord.xml
petJournal/.idea/gradle.xml
petJournal/.idea/inspectionProfiles/Project_Default.xml
petJournal/.idea/misc.xml
petJournal/.idea/vcs.xml